html
  head
    link(rel='stylesheet' href='css/main.css')
    link(href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet")
    link(rel="shortcut icon", type="image/x-icon", href="images/j.png")

    script(src='https://use.fontawesome.com/ed3411e27d.js')

    title=title
  body
    .background
      img.background-image(src="images/background.jpeg")
      .info
        h1=message
        h1.subtitle='Computer scientist. Psychologist. Crossword puzzle enthusiast.'
        .icons
          a.icon(href='https://www.linkedin.com/in/juliannastevenson', target='blank')
            i.fa.fa-linkedin
          | &nbsp; &nbsp;
          a.icon(href='https://github.com/jul-stevenson', target='blank')
            i.fa.fa-github
          | &nbsp; &nbsp;
          a.icon(href='https://medium.com/@julianna.h.stevenson', target='blank')
            i.fa.fa-medium
          | &nbsp; &nbsp;
          a.icon(href='https://www.facebook.com/julie.stevenson.3990', target='blank')
            i.fa.fa-facebook
          | &nbsp; &nbsp;
          a.icon(href='mailto:julianna.h.stevenson@gmail.com')
            i.fa.fa-envelope
      .bio
        .words
          h2="About me."
          p I'm Julianna Stevenson, but my friends call me Julie or Joules.
          p You can find me wandering around Purdue University's campus, where I am currently an undergraduate students. My work there lies in the intersection of computer science and cognitive psychology.
          p When I'm not in class, you can find me in a local café drinking a chai tea latte and reading an Agatha Christie novel or rocking out to broadway hits.
          p If you want to learn more about my experiences, take a look at my&nbsp;
            a.resume(href="resume", target='blank') resume.
        img.julie-pic(src="images/julie_sitting.jpg")
