html
  head
    link(rel="shortcut icon", type="image/x-icon", href="images/j.png")
    link(rel="stylesheet", href="css/resume.css")
    title=title
  body
    embed.resume(src="images/Resume_JuliannaStevenson.pdf")
