img.background-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 750px;
  min-width: 100%;
  z-index: -1;
}

h1 {
  color: #36382E;
  font-size: 4em;
  font-family: 'Arimo', sans-serif;
  text-align: right;
  margin-bottom: -5px;
  margin-top: 10px;
}

p {
  font-family: 'Arimo', sans-serif;
  font-size: 1.05em;
  margin-left: 50%;
  text-align: right;
}

.info {
  padding-right: 50px;
  float: right;
}

.icon {
  color: #36382E;
  font-size: 2em;
}

.icons {
  float: right;
}

.resume {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #F06449;
}
